<ion-header>
  <ion-navbar>
    <ion-buttons start left>
      <a href="http://localhost:8100/">
        <button ion-button icon-only color="royal" left>
          <ion-icon name="home"></ion-icon>
        </button>
      </a>
    </ion-buttons>

    <div class="titleicon">
         <img src="assets/img/header.png" width="100%"/>
    </div>

    <div class="titleicon">
         <img src="assets/img/logo-header.png" height="44px" />
    </div>

    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src="assets/img/sub-header-clubs.png" width="100%">
  <ion-grid>
      <ion-row center *ngFor="let post of posts">
        <ion-card>
          <ion-col width-25 style="float:left;">
            <div>
              <img [src]="post.img"/>
            </div>
          </ion-col>
          <ion-col width-67 style="float:left;">
            <div>
              <b>{{post.name}}</b>
              <p>Location and Training: <br>
                <p *ngFor="let location of post.location_training">
                - {{location}}<br></p>
            <p>
              {{post.contacts[0].name}}: {{post.contacts[0].value}} <br>
            </p>
            </div>
          </ion-col>
        </ion-card>
      </ion-row>
  </ion-grid>
</ion-content>
